<center>
<div class="card"  style="width: 40rem;">
	<div class="container">
		<div class="row">
		  <div class="col-12 text-center">
		    <div class="well controls">
		      <%= link_to '#', class: "btn btn-sm btn-primary" do %>
		        <i class="glyphicon glyphicon-backward"><<</i>
		      <% end %>
		      <%= "#{@date.strftime("%B")} #{@date.year}" %>
		      <%= link_to '#', class: "btn btn-sm btn-primary" do %>
		        <i class="glyphicon glyphicon-forward">>></i>
		      <% end %>
		    </div>
		  </div>
		</div>
		<div class="row">
		  <div class="col-12 text-center">
		    <%= calendar @date do |date| %>
		    	<% if !@busies.busy?(date) %>
		     		<div class="day-free">
		     			<%= date.day %>
		     		</div>
		    	<% else %>
		    		<%= date.day %>
		    	<% end %>
		    <% end %>
		  </div>
		</div>
	</div>
</div>
</center>