<div id="carousel" class="carousel carousel-fade slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <%= image_tag 'slide1.jpg', class:"d-block w-100 fill" %>
      <div class="carousel-caption">
          <p class="animated fadeInDown star">
            <i class="far fa-star"></i>
            <i class="far fa-star"></i>
            <i class="far fa-star"></i>
            <i class="far fa-star"></i>
            <i class="far fa-star"></i>
          </p>
          <h2 class="animated fadeInDown">CHÁCARA RECREIO</h2>
          <p class="animated fadeInUp">Viva momentos especiais</p>
      </div>
    </div>
    <div class="carousel-item">
      <%= image_tag 'slide2.jpg', class:"d-block w-100" %>
      <div class="carousel-caption">
          <p class="animated fadeInDown star">
            <i class="far fa-star"></i>
            <i class="far fa-star"></i>
            <i class="far fa-star"></i>
            <i class="far fa-star"></i>
            <i class="far fa-star"></i>
          </p>
          <h2 class="animated fadeInDown">CHÁCARA RECREIO</h2>
          <p class="animated fadeInUp">Viva momentos especiais</p>
      </div>
    </div>
    <div class="carousel-item">
      <%= image_tag 'slide3.jpg', class:"d-block w-100" %>
      <div class="carousel-caption">
          <p class="animated fadeInDown star">
            <i class="far fa-star"></i>
            <i class="far fa-star"></i>
            <i class="far fa-star"></i>
            <i class="far fa-star"></i>
            <i class="far fa-star"></i>
          </p>
          <h2 class="animated fadeInDown">CHÁCARA RECREIO</h2>
          <p class="animated fadeInUp">Viva momentos especiais</p>
      </div>
    </div>
    <div class="carousel-item">
      <%= image_tag 'slide4.jpg', class:"d-block w-100" %>
      <div class="carousel-caption">
          <p class="animated fadeInDown star">
            <i class="far fa-star"></i>
            <i class="far fa-star"></i>
            <i class="far fa-star"></i>
            <i class="far fa-star"></i>
            <i class="far fa-star"></i>
          </p>
          <h2 class="animated fadeInDown">CHÁCARA RECREIO</h2>
          <p class="animated fadeInUp">Viva momentos especiais</p>
      </div>
    </div>
    <div class="carousel-item">
      <%= image_tag 'slide5.jpg', class:"d-block w-100" %>
      <div class="carousel-caption">
          <p class="animated fadeInDown star">
            <i class="far fa-star"></i>
            <i class="far fa-star"></i>
            <i class="far fa-star"></i>
            <i class="far fa-star"></i>
            <i class="far fa-star"></i>
          </p>
          <h2 class="animated fadeInDown">CHÁCARA RECREIO</h2>
          <p class="animated fadeInUp">Viva momentos especiais</p>
      </div>
    </div>
    <div class="carousel-item">
      <%= image_tag 'slide6.jpg', class:"d-block w-100" %>
        <div class="carousel-caption">
          <p class="animated fadeInDown star">
            <i class="far fa-star"></i>
            <i class="far fa-star"></i>
            <i class="far fa-star"></i>
            <i class="far fa-star"></i>
            <i class="far fa-star"></i>
          </p>
          <h2 class="animated fadeInDown">CHÁCARA RECREIO</h2>
          <p class="animated fadeInUp">Viva momentos especiais</p>
      </div>
    </div>
    <div class="carousel-item">
      <%= image_tag 'slide7.jpg', class:"d-block w-100" %>
        <div class="carousel-caption">
          <p class="animated fadeInDown star">
            <i class="far fa-star"></i>
            <i class="far fa-star"></i>
            <i class="far fa-star"></i>
            <i class="far fa-star"></i>
            <i class="far fa-star"></i>
          </p>
          <h2 class="animated fadeInDown">CHÁCARA RECREIO</h2>
          <p class="animated fadeInUp">Viva momentos especiais</p>
      </div>
    </div>
  </div>
</div>